.btn{
	.transition(0.2s);
	margin: 0;
	padding: 0 20px;
	border: 1px solid @cp;
	height: 44px;
	line-height: 42px;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: @cp;
	outline: none;
	text-align: center;
	background: transparent;
	&:hover{
		color: #fff;
		background: @cp;
	}
}
