// fonts
.fp {font-family: 'Open Sans', sans-serif;} // font primary
.fh {font-family: 'Open Sans', sans-serif;} // font header
.fi {font-family: 'slch-icons',sans-serif;} // font icon

// body
@bb: #e4f2f8; // body background

// colors
@cp: #015470; // color primary
@cl: #63c9ef; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 43px; // font size h1
@fsh2: 27px; // font size h2
@fsh3: 23px; // font size h3
@fsh4: @fsp; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 15px;