.bg {
	background-image: #cbe6f0;
	background-image: -moz-linear-gradient(top,  #f0f8fa 0%, #bddeec 90%, #cbe6f0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f8fa), color-stop(90%,#bddeec), color-stop(100%,#cbe6f0));
	background-image: -webkit-linear-gradient(top,  #f0f8fa 0%,#bddeec 90%,#cbe6f0 100%);
	background-image: -o-linear-gradient(top,  #f0f8fa 0%,#bddeec 90%,#cbe6f0 100%);
	background-image: -ms-linear-gradient(top,  #f0f8fa 0%,#bddeec 90%,#cbe6f0 100%);
	background-image: linear-gradient(to bottom,  #f0f8fa 0%,#bddeec 90%,#cbe6f0 100%);
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 470px;
		max-height: 50%;
		width: 100%;
		background: url(../images/bg/01.png) no-repeat;
		background-size: 100% 150%;
	}
}
.lead {
	font-size: 115%;
	line-height: 1.3;
	margin-bottom: 30px;
}
#page-header {
	position: relative;
	z-index: 999;
	height: 170px;
	margin: 0 0 -170px;
	.logo {
		float: left;
		width: 33.3333%;
		margin: 25px 0 0;
		a {
			position: relative;
			display: block;
			font-size: 18px;
			font-weight: 900;
			font-size: 15px;
			line-height: 1.1;
			letter-spacing: 0.1em;
			text-decoration: none;
			padding: 19px 0 0 98px;
			color: @cp;
			text-transform: uppercase;
			&:before{
				.fi;
				font-weight: normal;
				content: '\e800';
				font-size: 104px;
				line-height: 1;
				position: absolute;
				left: -9px;
				top: 0;
			}
			small {
				position: relative;
				top: -4px;
				font-weight: normal;
				font-size: 11px;
				letter-spacing: 0.1em;
			}
		}
	}
	.search {
		float: right;
		width: 66.6666%;
		margin: 27px 0 0;
		padding: 0 0 0 44%;
		input[type="text"],input[type="search"] {
			.placeholder(@cp);
			position: relative;
			float: left;
			background: none;
			height: 42px;
			font-size: 14px;
			margin: 0 -42px 0 0;
			padding-right: 45px;
			padding-left: 15px;
		}
		input[type="submit"] {
			.fi;
			position: relative;
			height: 42px;
			line-height: 40px;
			width: 42px;
			padding: 0;
			border: 0;
			color: @cl;
			&:hover{
				color: #fff;
			}
		}
	}
	.menu_main {
		position: relative;
		float: left;
		width: 66.6666%;
		text-align: right;
		margin: 14px 0 0;
		.toggle {
			display: none;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 21px;
			line-height: 1;
			margin: 0 0 15px;
			cursor: pointer;
			&:before{
				.fi;
				position: relative;
				display: inline-block;
				top: 3px;
				content: '\e808';
				float: right;
				font-weight: normal;
				width: 26px;
				height: 20px;
				font-size: 16px;
				color: @cl;
			}
		}
		ul {
			.rul;
			li {
				.rli;
				display: inline;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
				line-height: 1.2;
				margin: 0 0 0 19px;
				a {
					color: @cp;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&.on {
					a {
						color: @cl;
					}
				}
			}
		}
	}
}
#wrapper {
	.bg;
	position: relative;
	padding: 220px 0 100px;
	&:before{
		background-position: 0 -100%;
	}
}
#col-main {
	.clearfix;
	width: 76.88%;
	padding: 0 50px 0 0;
	float: left;
}
#col-right {
	width: 23.12%;
	float: right;
}
.breadcrumbs {
	ul {
		.rul;
		margin: -45px 0 35px;
		font-size: 15px;
		li {
			display: inline-block;
			margin: 0 6px 0 0;
			padding: 0 0 0 25px;
			&:before{
				color: @cl;
				top: 6px;
				font-size: 12px;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.detail_article {
	.clearfix;
	.col_left {
		float: left;
		width: 100%;
	}
	.col_main {
		float: left;
		width: 100%;
	}
	.date {
		color: @cl;
		font-weight: bold;
		margin: 0 0 25px;
	}
	h1 {
		line-height: 1.3;
		margin: 0 0 30px;
	}
	h2 {
		color: @cl;
	}
	.detail_image {
		margin: 0 0 55px;
		img {
			display: block;
			margin: -12% 0;
		}
		a {
			position: relative;
			display: block;
			overflow: hidden;
			&:before{
				.transition(0.3s);
				content: '';
				position: absolute;
				left: 100%;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: fade(@cl,40%);
			}
			&:hover{
				&:before{
					left: 0;
				}
			}
		}
	}
	.nav {
		.clearfix;
		font-size: 15px;
		padding: 0 10px;
		margin: 0 0 20px;
		a {
			position: relative;
			display: inline-block;
			margin: 0 0 30px;
			color: @cp;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				&:before{
					color: @cl;
				}
			}
			&:before{
				.fi;
				position: absolute;
				top: -6px;
				font-size: 35px;
				line-height: 1;
			}
		}
		.prev {
			float: left;
			padding: 0 0 0 40px;
			&:before{
				left: 0;
				content: '\e804';
			}
		}
		.next {
			float: right;
			padding: 0 40px 0 0;
			&:before{
				right: 0;
				content: '\e803';
			}
		}
	}
}
.box_news {
	margin: 35px 0 0;
	.title {
		font-size: 15px;
		margin: 0 0 30px;
	}
	section {
		article {
			margin: 0 0 40px;
			a {
				.transition(0.2s);
				.clearfix;
				display: block;
				background: #fff;
				padding: 0 20px 20px;
				text-decoration: none;
				&:hover{
					background: @cp;
					h2 {
						color: #fff;
					}
					figure {
						&:before{
							left: 0;
						}
					}
				}
				figure {
					position: relative;
					overflow: hidden;
					margin: 0 -20px 20px;
					&:before{
						.transition(0.3s);
						content: '';
						position: absolute;
						left: 100%;
						bottom: 0;
						width: 100%;
						height: 100%;
						background: fade(@cl,40%);
					}
					img {
						display: block;
						margin: -12% 0;
					}
				}
				.date {
					font-weight: bold;
					font-size: 13px;
					margin: 0 0 15px;
				}
				h2 {
					.transition(0.2s);
					font-size: 16px;
					color: @cp;
					text-transform: uppercase;
				}
			}
		}
	}
}
.main_header {
	.bg;
	min-width: @content-width;
	position: relative;
	padding: 200px 0 55px;
	section {
		article {
			.clearfix;
			font-size: 17px;
			line-height: 1.4;
			figure {
				overflow: hidden;
				float: left;
				width: 33.3333%;
				margin: 2px 0;
				a {
					position: relative;
					display: block;
					&:before{
						.transition(0.3s);
						content: '';
						position: absolute;
						left: 100%;
						bottom: 0;
						width: 100%;
						height: 100%;
						background: fade(@cl,40%);
					}
					&:hover{
						&:before{
							left: 0;
						}
					}
				}
				img {
					display: block;
				}
			}
			.content {
				float: left;
				width: 66.6666%;
				padding: 0 0 0 30px;
			}
			.date {
				color: @cl;
				font-weight: bold;
				font-size: 16px;
				margin: 0 0 20px;
			}
			h2 {
				font-size: 26px;
				letter-spacing: -0.012em;
				text-transform: uppercase;
				margin: 0 0 30px;
			}
			nav {
				margin: 43px 0 0;
				a {
					.btn;
					padding-right: 15px;
					&:after{
						.fi;
						content: '\e802';
						font-size: 12px;
						margin: 0 0 0 12px;
					}
				}
			}
		}
	}
}
.news_slider {
	min-width: @content-width;
	padding: 63px 0 15px;
	background: #f3f9fb;
	section {
		.clearfix;
		margin: 0 -15px;
		.cycle-carousel-wrap {
			width: 9999em;
		}
		article {
			position: relative!important;
			width: 50%;
			padding: 0 15px;
			margin: 0 0 35px;
			float: left;
			font-size: 15px;
			line-height: 1.5;
			white-space: normal;
			figure {
				float: left;
				width: 53%;
				overflow: hidden;
				img {
					display: block;
				}
				a {
					position: relative;
					display: block;
					&:before{
						.transition(0.3s);
						content: '';
						position: absolute;
						left: 100%;
						bottom: 0;
						width: 100%;
						height: 100%;
						background: fade(@cl,40%);
					}
					&:hover{
						&:before{
							left: 0;
						}
					}
				}
			}
			.content {
				float: left;
				width: 47%;
				padding: 0 0 0 20px;
			}
			.date {
				font-weight: bold;
				color: @cl;
				font-size: 16px;
				line-height: 1.1;
				margin: 0 0 15px;
			}
			h2 {
				font-size: 18px;
				line-height: 1.3;
				text-transform: uppercase;
				margin: 0 0 5px;
			}
			p {
				font-size: 13px;
				margin: 0 0 5px;
			}
			.ellip-line {
				position: relative;
				display: block;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				overflow: hidden;
			}
			nav {
				margin: 5px 0 0;
				a {
					.btn;
					&:after{
						.fi;
						content: '\e802';
						font-size: 12px;
						margin: 0 0 0 12px;
					}
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 100;
		right: 100%;
		top: 50%;
		font-size: 38px;
		line-height: 1;
		margin: -50px 0 0;
		color: @cp;
		&:hover{
			color: @cl;
		}
		&:before{
			.fi;
			content: '\e804';
		}
	}
	.next {
		right: inherit;
		left: 100%;
		&:before{
			content: '\e803';
		}
	}
}
#page-footer {
	padding: 57px 0 20px;
	.box {
		width: 25%;
		padding: 0 15px;
		margin: 0 -2px 60px;
		display: inline-block;
		font-size: 15px;
		line-height: 1.5;
		vertical-align: top;
		&:nth-child(4){
			float: right;
			margin-bottom: 30px;
		}
		.title {
			font-size: 20px;
			line-height: 1.2;
			margin: 16px 0 28px;
			font-weight: bold;
			text-transform: uppercase;
		}
		address {
			font-style: normal;
			margin: 0 0 20px;
			a {
				color: @cp;
			}
		}
		iframe {
			.border-radius(4px);
			overflow: hidden;
			height: 340px;
			width: 100%;
			border: 1px solid #ccc;
		}
		nav {
			text-transform: uppercase;
			font-size: 17px;
			margin: 0 0 20px;
		}
	}
	.copy {
		display: inline-block;
		vertical-align: top;
		width: 75%;
		margin: 0 -2px;
		padding: 0 15px;
		font-size: 15px;
		a {
			color: @cp;
		}
	}
}