@media (min-width: 1560px) {
	@content-width: 1520px;
	.container {
		width: @content-width;
	}
	body {
		font-size: 18px;
	}
	#col-main {
		width: 85.6%;
	}
	#col-right {
		width: 14.4%;
	}
	#page-header {
		.logo {
			width: 25%;
			margin-top: 22px;
			a {
				font-size: 18px;
				padding-top: 22px;
				padding-left: 120px;
				&:before{
					font-size: 125px;
				}
				small {
					top: -3px;
					font-size: 12px;
				}
			}
		}
		.search {
			width: 14%;
			margin-top: 44px;
			padding-left: 0;
		}
		.menu_main {
			width: 58%;
			margin-top: 54px;
			ul {
				li {
					font-size: 19px;
					margin-left: 23px;
				}
			}
		}
	}
	.detail_article {
		.clearfix;
		.col_left {
			width: 33.3333%;
		}
		.col_main {
			width: 66.6666%;
			padding-right: 12%;
			padding-left: 50px;
		}
		.detail_image {
			img {
				margin-top: 0;
				margin-right: 0;
			}
		}
	}
	.main_header {
		min-width: @content-width;
		section {
			article {
				font-size: 20px;
				line-height: 1.25;
				figure {
					width: 20.5%;
				}
				.content {
					width: 79.5%;
					padding-right: 27%;
					padding-left: 35px;
				}
				h2 {
					font-size: 32px;
					margin-bottom: 20px;
				}
				nav {
					margin-top: 35px;
				}
			}
		}
	}
	.news_slider {
		min-width: @content-width;
		section {
			article {
				font-size: 15px;
				line-height: 1.5;
				figure {
					width: 42%;
				}
				.content {
					width: 58%;
					padding-left: 30px;
					padding-right: 10%;
				}
				.date {
					margin-top: 15px;
				}
				h2 {
					font-size: 20px;
					margin-bottom: 25px;
				}
				p {
					font-size: 15px;
					line-height: 1.5;
					margin-bottom: 20px;
				}
				.ellip-line {
					white-space: normal;
					overflow: visible;
				}
				nav {
					margin-top: 30px;
				}
			}
		}
	}
	#page-footer {
		.box {
			margin-bottom: 105px;
			&:nth-child(1){
				width: 29%;
				padding-right: 70px;
			}
			&:nth-child(2){
				width: 31%;
				padding-right: 70px;
			}
			&:nth-child(3){
				width: 23%;
			}
			&:nth-child(4){
				float: right;
				width: 17%;
				margin-bottom: 30px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 730px;
	.container {
		width: @content-width;
	}
	#wrapper {
		padding-bottom: 50px;
	}
	#col-main {
		width: 100%;
		padding-right: 0;
	}
	#col-right {
		width: 100%;
	}
	#page-header {
		.logo {
			width: 40%;
		}
		.search {
			margin-top: 60px;
			width: 60%;
			padding-left: 10%;
		}
		.menu_main {
			clear: both;
			width: 100%;
			margin-top: 20px;
			ul {
				li {
					margin-left: 30px;
				}
			}
		}
	}
	.main_header {
		min-width: @content-width;
		section {
			article {
				font-size: 15px;
				line-height: 1.25;
				figure {
					width: 40%;
				}
				.content {
					width: 60%;
					padding-left: 20px;
				}
				.date {
					margin-bottom: 15px;
				}
				h2 {
					font-size: 20px;
					margin-bottom: 15px;
				}
				.ellip-line {
					white-space: normal;
					overflow: visible;
				}
				nav {
					margin-top: 25px;
				}
			}
		}
	}
	.box_news {
		margin-top: 100px;
		.title {

		}
		section {
			margin-left: -15px;
			margin-right: -15px;
			article {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				margin-left: -2px;
				margin-right: -2px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.news_slider {
		min-width: @content-width;
		section {
			clear: both;
			article {
				width: 715px!important;
				figure {
					width: 40.877%;
				}
				.content {
					width: 59.123%;
				}
				h2 {
					margin-bottom: 20px;
				}
				p {
					font-size: 14px;
				}
				nav {
					margin-top: 30px;
				}
			}
		}
		.prev, .next {
			float: left;
			position: static;
			margin: -40px -10px 20px;
		}
		.next {
			float: right;
		}
	}
	#page-footer {
		.box {
			width: 50%;
		}
		.copy {
			width: 100%;
			text-align: right;
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 18px;
	}
	h5{
		font-size: 18px;
	}
	#wrapper {
		padding-top: 150px;
		padding-bottom: 50px;
	}
	#col-main {
		width: 100%;
		padding-right: 0;
	}
	#col-right {
		width: 100%;
	}
	#page-header {
		height: 120px;
		margin-bottom: -120px;
		.logo {
			width: 50%;
			margin-top: 17px;
			a {
				font-size: 11px;
				letter-spacing: 0.15em;
				padding-top: 15px;
				padding-left: 78px;
				&:before{
					left: -5px;
					font-size: 80px;
				}
				small {
					top: -2px;
					font-size: 8px;
					letter-spacing: 0.15em;
				}
			}
		}
		.search {
			width: 39%;
			margin-top: 19px;
			padding-left: 0;
			input[type="text"],input[type="search"] {
				height: 32px;
				font-size: 13px;
				padding-top: 3px;
				padding-bottom: 3px;
				margin-right: -32px;
				&::-webkit-input-placeholder {
					text-indent: -9999px;
				}
				&:-moz-placeholder {
					text-indent: -9999px;
				}
				&::-moz-placeholder {
					text-indent: -9999px;
				}
			}
			input[type="submit"] {
				width: 32px;
				height: 32px;
				line-height: 30px;
				font-size: 19px;
			}
		}
		.menu_main {
			width: 50%;
			margin-top: 18px;
			.toggle {
				display: block;
			}
			ul {
				.transition(0.4s);
				overflow: hidden;
				max-height: 0;
				text-align: left;
				position: absolute;
				top: 100%;
				right: 0;
				width: 200%;
				background: @cp;
				li {
					display: block;
					margin: 0;
					a {
						color: #fff;
						display: block;
						padding: 5px 15px;
					}
				}
			}
			&.on {
				.toggle {
					&:before{
						top: 1px;
						font-size: 19px;
						content: '\e809';
					}
				}
				ul {
					max-height: 500px;
					overflow: auto;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
	.detail_article {
		.nav {
			padding-left: 0;
			padding-right: 0;
			a {
				font-size: 13px;
				&:before{
					font-size: 15px;
					font-weight: bold;
					top: 2px;
				}
			}
			.prev {
				padding-left: 20px;
			}
			.next {
				padding-right: 20px;
			}
		}
	}
	.box_news {
		margin-top: 100px;
		.title {

		}
		section {
			margin-left: -15px;
			margin-right: -15px;
			article {
				display: inline-block;
				width: 50%;
				vertical-align: top;
				margin-left: -2px;
				margin-right: -2px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.main_header {
		padding-top: 130px;
		min-width: @content-width;
		section {
			article {
				.clearfix;
				font-size: 17px;
				line-height: 1.4;
				figure {
					width: 100%;
					margin-bottom: 20px;
					img {
						margin: -7% 0;
					}
				}
				.content {
					width: 100%;
					padding-left: 0;
				}
			}
		}
	}
	.news_slider {
		min-width: @content-width;
		section {
			.cycle-carousel-wrap {
				width: 100%!important;
				position: static!important;
				left: 0!important;
				article {
					display: none!important;
					&:nth-child(1),&:nth-child(2) {
						display: block!important;
					}
				}
			}
			article {
				width: 100%!important;
				display: block!important;
				&.cycle-sentinel {
					display: none!important;
				}
				figure {
					width: 100%;
					margin-bottom: 25px;
					img {
						margin: -17% 0;
					}
				}
				.content {
					width: 100%;
					padding-left: 0;
				}
				p {
					margin-bottom: 10px;
				}
				.ellip-line {
					white-space: normal;
					overflow: visible;
				}
			}
		}
		.prev, .next {
			display: none;
		}
	}
	#page-footer {
		.box {
			width: 100%;
			display: block;
			margin-bottom: 40px;
		}
		.copy {
			width: 100%;
		}
	}
}
@media (max-width: 460px) {
	.box_news {
		section {
			article {
				width: 100%;
			}
		}
	}
}