html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 10px 0;
	line-height: @lhh;
}
h1{
	.fh;
	font-size: @fsh1;
	line-height: @lh1;
	text-transform: uppercase;
	margin-bottom: 60px;
}
h2{
	.fh;
	font-size: @fsh2;
}
h3{
	.fh;
	font-size: @fsh3;
}
h4{
	font-size: @fsh4;
}
h5{
	font-size: @fsh5;
}
h6{
	font-size: @fsh6;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 7px;
		left: 0;
		font-size: 10px;
		line-height: 1;
		content: '\e802';
	}
	&>ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin:0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid lighten(@cp,30%);
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
table {
	width: 100%;
	margin: 0 0 20px;
	background: fade(#fff,30%);
	th,td {
		border: 1px solid @cl;
		padding: 4px 7px;
	}
	thead td, th {
		background: @cl;
	}
	tfoot td, th {
		background: fade(#fff,40%);
	}
}
input[type=text],
input[type=password],
input[type=email] {
	.rin;
	.transition(0.2s);
	.placeholder(@cl);
	position: relative;
	border: 1px solid @cl;
	font-size: 15px;
	margin: 0 3px 5px 0;
	width: 100%;
	padding: 6px 10px;
	color: @cp;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:focus{
		border-color: @cp;
	}
}
input[type=submit],
input[type=button],
button {
	.btn;
}