
.icon-logo:before { content: '\e800'; } /* '' */
.icon-arr-up:before { content: '\e801'; } /* '' */
.icon-arr-right:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e804'; } /* '' */
.icon-arr-left:before { content: '\e805'; } /* '' */
.icon-arr-down:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */